body {
  margin: 0;
  padding: 0.25rem;
}

.header > a > img {
  width: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem;
  margin: 0;
  border: 2px solid rgba(129, 6, 6, 0.829);
}

.navBar > ul {
  list-style-type: none;
  display: flex;
}

.navBar > ul > li {
  margin: 0.5rem;
}

/* RESTAURANT CARDS FUNCTIONAL COMPONENT */
.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #f3000069;
  border-radius: 1rem;
  width: 20rem;
  height: 22rem;
  margin: 1rem;
  padding: 0;
  overflow: hidden;
}

.card > img {
  width: 100%;
}

.cardDetails {
  width: 98%;
  height: 100%;
  margin: auto 0.5rem;
}

.cardDetails > h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 0;
}

/* BODY FUNCTIONAL COMPONENT */
.body {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 1rem;
  justify-content: center;
}
